<p id="notice"><%= notice %></p>

<h2><%= @blog.title %></h2>
<p class="blog-post-meta">
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:side_admin) %> |
  <%= link_to 'Back', blogs_path %>
</p>
<p><%= @blog.body %></p>
